/* Styles for mobile devices */

ul {
  list-style-type: none;
  padding-left: 0;
}

h1 {
  font-size: 65px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: white;
}

header {
  text-align: center;
  padding-top: 0.3em;
  font-size: 2.5em;
  font-weight: 100;
  position: fixed;
  top: 0px;
  display: block;
  width: 100%;
  background-color: black;
  z-index: 10000;
  height: 80px;
}

header ul li {
  display: inline-block;
  width: 19%;
  cursor: pointer;
}

header ul li a {
  position: relative;
  color: white;
}

footer {
  text-align: center;
  bottom: 0px;
  background-color: #444;
  position: fixed;
  width: 100%;
  margin-top: 8em;
}

footer ul {
  margin-bottom: 0px !important;
}

footer ul li {
  display: inline-block;
  width: 19%;
  font-size: 2.2em;
  font-weight: 100;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 100%;
  vertical-align: middle;
}

footer ul li a {
  color: white;
}

footer ul li a:hover {
  color: white;
}

.thin-font {
  font-weight: 200;
}

.title-display {
  text-align: center;
  background: url('../img/theKnobATcropped.JPG');
  background-size: cover;
  height: 300px;
  margin-top: 80px;
  filter: grayscale(1);
  -webkit-filter: grayscale(0.5);
}

.name {
  margin-top: 0;
  padding-top: 0.4em;
  font-weight: 100;
}

.title {
  font-weight: 400;
  font-size: 2em;
  margin-top: 0;
}

.view-top-margin {
  margin-top: 2em;
}

.view-bottom-margin {
  margin-bottom: 200px;
}

.view-header {
  margin-bottom: 1em;
  font-weight: 100;
  text-align: center;
  text-decoration: underline;
}


/* PORTFOLIO VIEW */

.portfolio-project {
  display: block;
  margin: 150px;
  position: relative;
}

.portfolio-title {
  font-size: 3.2em;
}

.portfolio-image {
  max-width: 400px;
  max-height: 600px;
}

/* END OF PORTFOLIO VIEW STYLES */




/* ABOUT VIEW */
.profile-photo {
  display: inline-block;
  border-radius: 50px;
  width: 300px;
  margin-right: 10px;
}

.big-text {
  font-size: 1.5em;
}

/* END OF ABOUT VIEW STYLES */




/* CONTACT VIEW */
.contactElement {
  width: 100%;
  margin-bottom: 1em;
  border: none;
  font-size: 3em;
}

button.contactElement {
  font-size: 4em;
  font-weight: 100;
  border: 1px solid darkgray;
  box-shadow: none;
}

button.contactElement:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

button.contactElement:active {
  background-color: #555;
  color: white;
}

form[name='contactForm'] {
  margin-bottom: 5em;
}

form[name='contactForm'] input {
  border: none;
  border-bottom: 1px solid #CCC;
}

form[name='contactForm'] input:focus {
  outline: none;
}

form[name='contactForm'] textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}

textarea {
  resize: none;
}

#emailedMeModal {
  top: 40%;
}
/* END OF CONTACT VIEW STYLES */






/* EXPERIENCE VIEW */

.experience {
  padding: 2em;
  margin-top: 8em;
}

.experience p {
  font-size: 2em;
}

.exp-company {
  font-size: 3.5em;
}

.exp-title {
  font-size: 3em;
}

.exp-image {
  max-width: 100%;
  min-width: 100px;
}

/* END OF EXPERIENCE VIEW STYLES */




/* TERMINAL STYLES */

.terminal-body {
  background-color: black;
  color: white;
  font-family: "Didot";
  margin-left: 0px;
  margin-right: 0px;
  overflow-y: scroll;
  border-top: 4px solid black;
  margin-bottom: -4em;
  font-size: 30px;
  height: 1500px;
  padding-bottom: 5em;
}

.terminal-input {
  border: none;
  background-color: black;
  outline: none;
  color: lightgreen;
  font-family: "Didot";
  /*font-size: 3em;*/
  width: 40%;
}

.terminal-a {
  text-decoration: none;
  color: #88F;
  font-style: italic;
}

.terminal-img {
  max-height: 100%;
}

.orange {
  color: #F90;
  /*font-size: 0.4em;*/
}

.indent {
  margin-left: 3em;
}

.indentMore {
  margin-left: 6em;
}

/* END OF TERMINAL VIEW STYLES */