.terminal-body {
  background-color: black;
  color: white;
  font-family: "Didot";
  height: 420px;
  margin-left: 0px;
  margin-right: 0px;
  overflow-y: scroll;
  border-top: 4px solid black;
  margin-bottom: -8em;
}

.terminal-input {
  border: none;
  background-color: black;
  outline: none;
  color: lightgreen;
  font-family: "Didot";
  font-size: 1.1em;
  width: 50%;
}

.terminal-a {
  text-decoration: none;
  color: #88F;
  font-style: italic;
}

.terminal-a:hover {
  color: white;
}

.terminal-img {
  max-height: 100%;
}

.orange {
  color: #F90;
}

.indent {
  margin-left: 3em;
}

.indentMore {
  margin-left: 6em;
}
