/* Style for visual version of the website */


header {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 6em;
  font-family: 'Play', sans-serif;
}

h2 {
  font-family: 'Play', sans-serif;
}

i {
  color: #000;
}

.fa .fa-linkedin-square .fa-3x {
  margin: 0;
}

.icons {
  margin-top: 10em;
}

.icon {
  width: 42px;
  height: 42px;
}

#portfolio img {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}