/* Style for visual version of the website */


header {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 6em;
  font-family: 'Play', sans-serif;
  color: black;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: 'Play', sans-serif;
}

i {
  color: #000;
}

.fa .fa-linkedin-square .fa-3x {
  margin: 0;
}

.icons {
  margin-top: 15em;
}

.icon {
  width: 42px;
  height: 42px;
}

.inline {
  display: inline;
}

.no-padding-margin {
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0;
}

#portfolio img {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

/*#developerTitle {
  border: 1px solid red;
}*/

#title {
  /*border: 1px solid green;*/
  text-align: center;
  margin: 0;
  /*float: right;*/
}

#developer {
  /*border: 1px solid blue;*/
  /*float: right;*/
}

#hireMeRow {
  text-align: center;
  background-color: black;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-top: 3em;
}

#hireMeRow img {
  /*width: 100px;*/
  max-width: 10%;
  border: 1px solid red;
}

#hireMe {
  background-color: #FFA500;
  color: black;
  font-size: 2em;
  outline: none;
  border: none;
  box-shadow: 0px 0px 8px black inset;
  border-radius: 3px;
}

#hireMe:active {
  background-color: #BB8500;
}

@-webkit-keyframes pulse {
  0%, 100% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0px 0px 2px black;
  }
}

keyframes pulse {
  0%, 100% {
    text-shadow: 0;
  }
  50% {
    text-shadow: 0px 0px 2px black;
  }
}

.pulse {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-name: pulse;
}