body {
  background-color: black;
  color: white;
  font-family: Courier;
}

input {
  border: none;
  background-color: black;
  outline: none;
  color: lightgreen;
  font-family: Courier;
  font-size: 1.1em;
  width: 50%;
}

a {
  text-decoration: none;
  color: #88F;
  font-style: italic;
}

.orange {
  color: #F90;
}

.indent {
  margin-left: 3em;
}
