<div class='row view-top-margin view-bottom-margin'>
  <div class='col col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2'>
    <h1 class='view-header'> Story of Todd </h1>
    <br><br>
    <img style='float:left;' class='profile-photo' src='img/AT_pic.JPG' width='100' alt='Picture of Todd'>
    <p class='big-text'>
      <span class='h3'>TL;DR</span><br>
      I love to code, travel, learn, hike, be a crazy uncle, sleep on the ground, pet fuzzy things, and play ping pong and foosball. I'm currently looking for jobs in Austin TX or remote positions doing front-end, back-end, or full-stack development. I have experience doing fullstack dev in Angular and Node.js.
    </p>
    <br>
    <h3 class='text-center'> My Life and Times </h3>
    <p class='big-text'>
      Born a twin on Earth Day, I was fated to wander the earth a nomad, fearing poultry, solving the problems of that evil villian, society, through majestic code. Though long before my fate would begin to be realized, I excelled in myriad globally prominent fields such as street hockey, ping pong, foosball, GoldenEye on N64, high school Math, college Track and Cross Country, and reading Star Wars books.
    </p>
    <br>
    <p class='big-text'>
      In high school I took a C++ class and one other programming course, which laid within me a dormant germ that would sprout some 10 years later into a desire to join the ranks of software developers creating a technological world, eventually leading to a Terminator Judgement Day type of scenario. After graduating college with a degree in History and a few intervening years passed by I remembered the joy of learning some basic C++ in high school. And so I eventually went back to school in 2011 to study Computer Science in undergrad.
    </p>
    <br>
    <p class='big-text'>
      Back in University I took 5 semesters of classes towards a CS Bachelor's degree followed by an internship working on an IT Help Desk and decided to get out on my own. I started learning web development on my own in 2014, but decided I needed a push forward. After hearing about developer bootcamps I knew that was exactly the education I was looking for. I attended Coding House bootcamp learning fullstack JavaScript in the San Francisco Bay Area in the Fall of 2014. I followed this up by being employed as a Teaching Assistant at Coding House for the following cohort. Helping students six days a week solidified and expanded upon what I had learned as a student at Coding House. I was now ready to start a career in Web Development.
    </p>
    <br>
    <p class='big-text'>
      I worked for a startup in Irvine, CA building apps for fitness professionals and their clients for three months on a contract. I learned to work in a professional team to complete features and fix bugs. We had daily scrum meetings and used a scrum board to keep track of our progress. Our main tech stack was Ionic, Angular, Node.js, Sails.js, MySQL, and MongoDB. Upon finishing my contract there I decided to move to Austin, TX!
    </p>
    <br>
    <p class='big-text'>
      I am now looking for jobs in Austin TX (or remote positions). I love to code in Vim and build fun things on the web. Node.js and Angular are my tools of choice, but I'm always looking to learn new technologies. I enjoy building full-stack single-page applications with RESTful APIs. Please email me at toddkronenberg@gmail.com if you are interested in getting in contact with me about a position!
    </p>
  </div>
</div>