<div class='row view-top-margin view-bottom-margin'>
  <div class='col col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2'>
    <h1 class='view-header'> Short Story of Todd </h1>
    <br><br>
    <img style='float:left;' class='profile-photo' src='img/AT_pic.JPG' width='100' alt='Picture of Todd'>
    <p class='big-text'>
      Born a twin on Earth Day, I was fated to wander the earth a nomad, fearing poultry, solving the problems of that evil villian - society - through majestic code. Though long before my fate would begin to be realized, I excelled in myriad globally prominent fields such as street hockey, ping pong, foosball, GoldenEye on N64, high school Math, college Track and Cross Country, and reading Star Wars books. I love to code, travel, learn, hike, be a crazy uncle, sleep on the ground, pet fuzzy things, and play ping pong and foosball. I live on the road in my '98 Chevy Express with my dog Boba. North America is our playground. Having retired early at the ripe old age of 36, I now aspire to be an indie game dev cuz making worlds is my jam.
    </p>
  </div>
</div>
