<div class='row view-top-margin view-bottom-margin text-center'>
  <div class='col col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6'>
    <h1 class='view-header'> Experience </h1>
    <div class='experience' ng-repeat='exp in experience'>
      <img class='exp-image' ng-src='{{exp.logo}}' style='background-color: {{exp.backgroundColor || white}}'>
      <h2 class='exp-company'>{{exp.company}}</h2>
      <h3 class='exp-title'>{{exp.jobTitle}}</h3>
      <p>{{exp.years}}</p>
      <p>{{exp.description}}</p>
    </div>
  </div>
</div>