<div class='row view-top-margin text-center'>
  <div class='col col-xs-offset-1 col-xs-10'>
    <h1 class='view-header'> Portfolio </h1>
    <div class='portfolio-project' ng-repeat='project in projects'>
      <a href='{{project.url}}'>
        <h2 class='portfolio-title thin-font'> {{project.title}} </h2>
        <div class='portfolio-pic-container' ng-mouseover='showInfo = true' ng-mouseout='showInfo = false'>
          <img ng-src='{{project.picture}}' class='portfolio-image' alt='Project Photo'>
          <span class='portfolio-info' ng-show='showInfo'>
            {{project.description}}
            <br><br>
            <span class='thin-font' ng-repeat='tech in project.techs'>
              <em>{{tech}}</em>
              <br>
            </span>
          </span>
        </div>
      </a>
    </div>
  </div>
</div>